/* .App {
  padding: 30px;
  display: flex;
  background-color:#bbcfce ;

}

.App > div {
  margin-right: 50px;
}

.error {
  border: brown 2px solid;

}

.error-message {
  color: brown
} */

.is-done {
  opacity: 0.5;
  text-decoration: line-through
}

li {
  list-style-type: none
}